/** 
    Main CSS File for Default UI Styling

*/

/* HEADER ELEMENTS */
/** Systems Header **/

#logo{
  margin: 5px 130px;
  padding: 5px;
  width: 10% !important;
  height: auto !important;
}

#logout{
  float:right;
  margin: 40px 120px; 
  padding: 10px 20px;
}

/* FORMS */

.form-control{
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid #eee;
  border-radius: 0px;
  font-weight: 500;
}

.form-control:placeholder-shown{
  border-bottom: 2px solid #eee;
}

.form-control:not(placeholder-shown){
  border-bottom: 2px solid #4385F5;
}

.input-header{
  font-weight: 600;
  color: #808080;
}

.input-group-text{
  background-color: transparent;
  border: none;
  color: #808080;
}


/* BUTTONS */

.btn-primary{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  background-color: #4385F5;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  transition: 0.2s;
}

.btn-cancel{
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  color: #DC4437;
  border-radius: 10px;
  border: 2px solid #DC4437;
  padding: 10px 20px;
  transition: 0.2s;
}

/* TEXT ELEMENTS */

.default-header{
  font-weight: 600;
}

.default-desc{
  font-weight: 500;
}

.header-text{
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding-bottom: 20px;
  color: #242424;
}

.breadcrumb-item{
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: caapitalize;
  color: rgb(146, 146, 146) !important;
  letter-spacing: 1px;
}

.breadcrumb-item a{
  color: rgb(2, 110, 252)!important;
}

/* MODALS */

#modal-default{
  background-color: rgba(0, 0, 0, 0.192);
}

.modal-body{
  margin-top: 20px;
}

.modal-content{
  padding: 10px;
  border: none;
}

.modal-title{
  font-size: 26px;
  font-weight: 500;
  color: #1A1A1A;
}

/* BODY ELEMENTS */

body{
  font-family: 'Raleway', sans-serif;
}

.content-wrapper{
  padding: 20px;
}

.card{
  border: 1px solid rgba(146, 146, 146, 0.2);
  box-shadow: none;
}

.main-footer{
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 30px;
}

.main-footer p{
  display: inline-block;
  margin-bottom: 0px;
  font-weight: 600;
  color: #666666;
}

.footer-logo{
  display: inline-block;
  width: 3%;
  margin-right: 10px;
}

/** Systems Elements **/

h1.default-header{
  margin: 0px 100px 10px 110px;
}

p.default-desc{
  margin: 0px 100px 50px 110px;
}


.small-box:hover{
  box-shadow: 5px 10px 15px #88888870 !important;
  transition: 0.5s;
}

.button-info:hover, .button-primary:hover, .button-success:hover, 
.button-warning:hover, .button-danger:hover{
  filter: saturate(250%) !important;
  transition: 0.5s;
}

/** Login Form Elements **/

#forgot{
  float: left;
  padding: 0px;
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #4385F5;
}

#login-form .btn-primary{
  margin-top: 15px;
  width: 100%;
}

#login-form .btn-primary:hover{
  background-color: #77A7FB;
  color: #fff;
  transition: 0.2s;
}

#login-form .btn-cancel{
  margin-top: 15px;
  width: 100%;
}

#login-form .btn-cancel:hover{
  background-color: #DC4437;
  color: #fff;
  transition: 0.2s;
}

/** Reset Password Form Elements **/

#forgot-form .btn-primary{
  margin-top: 20px;
}

#forgot-form .btn-primary:hover{
  background-color: #77A7FB;
  color: #fff;
  transition: 0.2s;
}

/** Top Navbar **/

.navbar-nav .nav-link{
  color: #666666 !important;
}

.navbar-nav .nav-link:hover{
  color: #f2f2f2 !important;
  background-color: #666666 !important;
}

.dropdown-menu-lg .dropdown-item{
  padding: 30px 0px 10px 0px;
}

.dropdown-menu-lg .dropdown-item-header{
  margin: 0px 0px 20px 0px;
  font-weight: 600;
  font-size: 20px;
}

.dropdown-menu-lg .dropdown-item-title{
  margin: 30px 0px 0px 0px;
  font-weight: 500;
  font-size: 16px;
}

.dropdown-item-button.btn-primary{
  margin: auto;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
}

/** Left Nav Elements **/

.brand-link{
  margin: 10px 0px;
  border-bottom: none !important;
}

.brand-wordmark{
  margin-left: 10px;
  font-weight: 600 !important;
}

.user-panel{
  border-bottom: none !important;
}

.info .d-block{
  margin-left: 5px;
  font-size: 18px;
  font-weight: 600;
  color: #f2f2f2;
}

.left-sidebar-header{
  margin: 0px 0px 0px 20px;
  padding: 0px;
  font-weight: 600;
  color: #666666;
}

.nav-item{
  margin: 15px 0px;
  font-weight: 400;
}

.nav-link{
  color: #f2f2f2 !important;
  transition: 0.2s !important;
}

.nav-link:hover{
  background-color: #666666 !important;
  transition: 0.2s !important;
}

.nav-sidebar>.nav-item>.nav-link.active{
  background-color: #333333 !important;
  box-shadow: none !important;
  font-weight: 600;
  transition: 0.5s;
}

.nav-treeview>.nav-item>.nav-link.active{
  box-shadow: none !important;
  background-color: #4D4D4D !important;
  font-weight: 500;
}

.nav-sidebar .nav-treeview>.nav-item>.nav-link>.nav-icon{
  color: #77A7FB !important;
}


/* TABLE ELEMENTS */

.table{
  font-size: 14px;
}
.table th{
  text-align: center;
}
.hide{
  display: none;
}
.datepicker {
  z-index: 2050 !important;
}
.white{
    color: white;
}
.blue{
  color: #007bff;
}
.border-require{
  border: 1px solid;
  border-color: red !important;
}
.bg-success-light{
  background-color:#3CB371 !important;
  color:white !important;
}
.text-require{
  color: red !important;
}
.text-primary{
  color: #007bff !important;
}
.text-success{
  color: #28a745 !important;
}
.fade-in{
    animation: fade-in 1s;
}
.fade-out{
    animation: fade-out 1s;
}
.legend-box{
  height:20px;
  width:20px
}
.modal-xxl{
    max-width: 1480px;
}
.modal-xxxl{
  max-width: 1824px;
}
.sidebar-blue-lapis{
  background-color: #00008b;
}
.loaderModal{
  height: 110px;
  width: 110px;
}
.no-design{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  width: 100%;
}
.input-no-design{
  border: none;
  background: none;
  box-shadow:none;
  border-radius: 0px;
  width: 100%;
}
.modal {
  overflow-y:auto;
}
.center{
  text-align: center;
}
.input-loading {
    background-image: url("/assets/images/loader/loader-dots2.gif");
    background-size: 30px 30px;
    background-position:right center;
    background-repeat: no-repeat;
}
.input-success {
    background-image: url("/assets/images/icons/gif/success3nobg.gif");
    background-size: 30px 30px;
    background-position:right center;
    background-repeat: no-repeat;
}
.input-error {
    background-image: url("/assets/images/icons/gif/error.gif");
    background-size: 30px 30px;
    background-position:right center;
    background-repeat: no-repeat;
}
.input-require {
    background-image: url("/assets/images/icons/png/exclamation.png");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}
.input-require1 {
    background-image: url("/assets/images/icons/png/exclamation1.png");
    background-size: 25px 20px;
    background-position:right center;
    background-repeat: no-repeat;
}
.input-require2 {
    background-image: url("/assets/images/icons/png/exclamation2.png");
    background-size: 25px 25px;
    background-position:right center;
    background-repeat: no-repeat;
}
.bg-lightgreen1{
  background-color: #3CB371;
  color:white;
}
.btn-no-design{
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.btn{
    padding-left: 15px;
    padding-right: 30px;
}
.btn-scan{
  border:0px;
  color:#fff;
  cursor: pointer;
  position:relative;
}
.btn-scan:before,
.btn-scan:after {
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  border-style: solid;
  border-width: 0;
  content:"";
  height: 14px;
  position: absolute;
  width: 14px;
}
.btn-scan:before {
  border-left-width: 2px;
  border-top-width: 2px;
  left: 0px;
  top: 0px;
}
.btn-scan:after {
  border-bottom-width: 2px;
  border-right-width: 2px;
  bottom: 0px;
  right: 0px;
}
.btn-scan:hover:before,
.btn-scan:hover:after{
  height:100%;
  width:100%;
}
.btn-info-scan:before,
.btn-info-scan:after {
  border-color: #17a2b8;
}
.btn-info-scan:hover {
  color: #17a2b8;
  border-color: currentColor;
  background-color: white;
}
.btn-info-scan-click {
  color: #17a2b8;
  border-color: currentColor;
  background-color: white;
}
.btn-primary-scan:before,
.btn-primary-scan:after {
  border-color: #007bff;
}
.btn-primary-scan:hover {
  color: #007bff;
  border-color: currentColor;
  background-color: white;
}
.btn-success-scan:before,
.btn-success-scan:after {
  border-color: #28a745;
}
.btn-success-scan:hover {
  color: #28a745;
  border-color: currentColor;
  background-color: white;
}
.btn-warning-scan:before,
.btn-warning-scan:after {
  border-color: #ffc107;
}
.btn-warning-scan:hover {
  color: #ffc107;
  border-color: currentColor;
  background-color: white;
}
.btn-danger-scan:before,
.btn-danger-scan:after {
  border-color: #dc3545;
}
.btn-danger-scan:hover {
  color: #dc3545;
  border-color: currentColor;
  background-color: white;
}
.btn-info-scan-active {
  color: #17a2b8;
  border-color: currentColor;
  background-color: white;
}
.btn-primary-scan-active {
  color: #007bff;
  border-color: currentColor;
  background-color: white;
}
.btn-success-scan-active {
  color: #28a745;
  border-color: currentColor;
  background-color: white;
}
.btn-danger-scan-active{
  color: #dc3545;
  border-color: currentColor;
  background-color: white;
}
.btn-warning-scan-active {
  color: #ffc107;
  border-color: currentColor;
  background-color: white;
}
.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 65px;
  border: 1px dashed rgba(3, 138, 255, 1);
  background-color: rgba(228, 241, 254, 1);
  border-radius: 3px;
  transition: 0.2s;
 
}
.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}
.file-message {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  
}
.opacity6{
  opacity: .6;
}
.table-sched{
  width: 100%;
  border:1px solid;
  border-color: lightgray;
  table-layout: fixed;
}
.table-sched td{
  border:1px solid;
  text-align: center;
  border-color: lightgray;
}
.table-sched th {
  border:1px solid;
  text-align: center;
  border-color: lightgray;
}
.table-sched thead{
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}
@media only screen and (max-width: 700px) {
  .table-sched{
    width: 800px !important;
  }
}

/* SIDEBAR */

.main-sidebar{
  box-shadow: none !important;
}

