.carousel-item{
    height:95vh;
}
.carousel-image{
    height:100%;
}
#logo{
  height: 60px;
  width: 60px;
}
.content-wrapper {
  width: 100%;
  /* height: 100vh; */
  background: url('../../assets/images/background/systems_bg.jpg') center;
  background-size: cover;
  position: relative;
}
.navbar-brand{
    padding-left:60px !important;
}
.brand-image{
    opacity: .8 !important;
}
.nav-item{
    padding-right:40px !important;
}
.button-nav-h3{
    background: none !important;
    font-size: 55px !important;
}
#title{
    font-size: 20px;
    font-weight: bold;
    color: #6c757d;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: -1px -1px 3px #f8f9fa,
        2px 2px 4px #f8f9fa;
}
.button-nav{
  background: #ffffff;
  font-weight: 600;
  margin-bottom: 30px !important;
}
.button-info{
  color: #17a2b8;
  background: #17a2b8;
  border-radius: 10px;
  transition: 0.5s;
}
.button-primary {
  color: #4385F5;
  background: #4385F5;
  border-radius: 10px;
  transition: 0.5s;
}
.button-success {
  color: #109D59;
  background: #109D59;
  border-radius: 10px;
  transition: 0.5s;
}
.button-warning {
  color: #F5B400;
  background: #F5B400;
  border-radius: 10px;
  transition: 0.5s;
}
.button-danger {
  color: #DC4437;
  background: #DC4437;
  border-radius: 10px;
  transition: 0.5s;
}
.button-desc{
  color: #808080;
  font-size: 16px !important;
}
.small-box{
    margin: 10px;
    padding: 10px;
    color:white;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    box-shadow: none;
    transition: 0.5s;
    height: 250px;
    position: relative;
}
.small-box-btn{
    display: block;
    width: 93% !important;
    color: #f5f5f5;
    text-align: center;
    padding: 10px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    padding: 10px 5px;
    bottom: 10px;
}
#row-size{
    padding-left:40px;
    padding-right:40px;
}
.default-header{
  font-size: 30px;
  padding-left:110px;
}
.default-desc{
    padding-left:110px;
}
@media (max-width: 850px){
    #row-size{
        padding-left:0px;
        padding-right:0px;
    }
}
